@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

:root {
  --font-sans: "Nunito", "Open Sans", sans-serif;
}

body {
  font-family: var(--font-sans);
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-effect {
  background-color: rgba(71, 70, 70, 0.532);
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {

  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

h5 {
  font-size: 0.83em;
  font-weight: bold;
}

h6 {
  font-size: 0.67em;
  font-weight: bold;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

button,
img,
a {
  cursor: pointer;
}

.login-bg-img {
  background-image: url('/assets/images/login-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}